{% extends 'base.html' %}

{% block title %}Detalhes do Registro{% endblock title %}

{% block content %}

    <br>
    <div class="card">
        <div class="card-header text-center">
            <h3 class="font-weight-bold">{{ pressao.data|date:"d/m/Y - H:i" }}</h3>
        </div>
        <div class="card-body text-center">
            <table class="table table-borderless" style="font-size: 2em;">
                <tbody>
                    <tr>
                        <td>Sistólica:</td>
                        <td>{{ pressao.sis }}</td>
                    </tr>
                    <tr>
                        <td>Diastólica:</td>
                        <td>{{ pressao.dia }}</td>
                    </tr>
                    <tr>
                        <td>Pulso:</td>
                        <td>
                            {% if pressao.pul %}
                                {{ pressao.pul }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'registro_edit' pressao.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'registro_delete' pressao.id %}" class="btn btn-danger">Deletar</a>
        </div>
    </div>

{% endblock content %}