{% extends 'base.html' %}

{% block title %}Deletar{% endblock title %}

{% block content %}
    <h1>Deletar Registro</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Você tem certeza que deseja deletar o registro deste dia?</p>
        <p>{{ pressao.data }}</p>
        {{ form.as_p }}
        <a href="{{ pressao.get_absolute_url }}" class="btn btn-primary">Cancelar</a>
        <input type="submit" value="Deletar" class="btn btn-danger">
    </form>
{% endblock content %}