{% extends 'base.html' %}

{% block title %}Registros{% endblock title %}

{% block content %}
    <div class="table-responsive">


    <table class="table table-striped table-hover ">
        <thead class="thead-dark">
            <th>ID</th>
            <th>DATA</th>
            <th>SIS</th>
            <th>DIA</th>
            <th>PUL</th>
        </thead>
        <tbody>
            {% for pressao in pressao_list %}
                <tr>
                    <td><a href="{{ pressao.get_absolute_url }}">{{ pressao.pk }}</a></td>
                    <td>{{ pressao.data|date:"d/m/y H:i" }}</td>
                    <td>{{ pressao.sis }}</td>
                    <td>{{ pressao.dia }}</td>
                    <td>{{ pressao.pul }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeiro</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ultimo &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}